.dots {
    display: flex;
    align-items: center;
    gap: 8px;

}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;


    &::before {
        content: '';
        display: block;
        width: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #6C7275;
    }

    &--active {
        border: 1px solid #141718;
        &::before {
            background-color: #141718;
        }
    }

}