.footer {
	background-color: #141718;
	padding-top: 80px;
	padding-bottom: 32px;

	@include mobile {
		padding: 48px 0;
	}


	.footer__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mobile {
			display: flex;
			flex-direction: column;
			row-gap: 40px;
		}

	}

	.footer__title {
		display: flex;
		

		

		@include mobile {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.footer__logo {
		position: relative;
		font-family: var(--font-accent);
		font-weight: 500;
		font-size: 24px;
		line-height: 1;
		color: #fff;
		margin-right: 32px;
		padding-right: 32px;
		border-right: 1px solid #6C7275;

		span {
			color: #6C7275;
		}

		
		@include mobile {
			&::after {
				position: absolute;
				content: '';
				height: 1px;
				width: 24px;
				background-color: #6C7275;
				top: 40px;
				left: 38px;
			}

			padding-bottom: 16px;
			margin-bottom: 16px;
			border-right: none;
			padding-inline: 0px;
			margin-inline: 0;
		}
	}

	.separator{
		height: 10px;
		width: 24px;
		color:  #FEFEFE;
		top: 40px;
		left: 20px;
	}

	.footer__store {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.57;
		color: #E8ECEF;
	}

	.footer__nav {
		display: flex;
		gap: 40px 32px;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.57;

		a {
			color: #FEFEFE;
		}

		@include mobile {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.footer__row--border {
		padding-top: 16px;
		padding-bottom: 20px;
		margin-top: 50px;
		display: flex;
		align-items: center;
		border-top: 0.5px solid #6C7275;

		@include mobile {
			padding-top: 24px;
			row-gap: 32px;
		}
		

		

		.footer__copyright {
			font-family: var(--font-accent);
			color: #E8ECEF;
			font-weight: 400;
			font-size: 12px;
			line-height: 1.67;
			display: flex;
			gap: 28px;

			@include mobile {
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				row-gap: 28px;
			}

			a {
				font-weight: 600;
				font-size: 12px;
				line-height: 1.67;
				color: #FEFEFE;
			}

			p {
				@include mobile {
					order: 1;
				}
			}
			
		}
	}

	.footer__soc1al {
		display: flex;
		gap: 48px;

		@include mobile {
			order: -1;
			gap: 24px;
		}
	}


	@media (max-width: 1200px) {
		font-size: 26px;
	}
}